@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600;700;800;900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

body {
    min-height: 100vh;
    background: url('background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    ;
}
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.name-purple {
    color: #6030b1;
}

h1 {
    font-size: 36px;
}

.navbar {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_links {
    display: flex;

}


#personal__logo {
    font-size: 32px;
    color: #6030b1;
    text-decoration: none;
    font-weight: 700;
    font: bold;
    transition: 300ms ease-in-out;
}
#personal__logo span {
    color: white;
}
#personal__logo:hover {
    transform: scale(1.1);

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin: 0 12px;
}
.link__hover-effect--purple {
    padding: 8px 20px;
    border-radius: 40px;
    background-color: #6030b1;
}
.link__hover-effect--green:hover {
    color: green;
}
.link__hover-effect--blue:hover {
    color: blue;
}
.link__hover-effect--purple:hover {
    background-color: #5d3eff;
    transition: all 300ms ease;
    
}

.link__hover-effect--blue::before {
    content: '';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 300ms;
}

.link__hover-effect--blue:hover:before {
    width: 100%;
    color: white;
}

.link__hover-effect--green::before {
    content: '';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.link__hover-effect--green:hover:before {
    width: 100%;
    color: white;
}


#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home__info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.home_picture-mask {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     overflow: hidden;
     box-shadow: 0 8px 16px rgba(0,0,0);
     margin-bottom: 20px;
}

.home_picture {
    width: 100%;
    transform: scale(1.1);

}
.home_info-title {
    margin-bottom: 10px;
}
.home__para {
    font-size:18px;
    margin-bottom: 30px;
}

.home_links a{
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    justify-content: center;
    margin: 0 auto;
    color: #6030b1;
    border: 0.2rem solid;
    border-radius: 50%;
}


.home_links a:hover {
    color: white;
    transition: 300ms ease-in-out;
    transform: scale(1.1);
}