@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600;700;800;900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h1 {
    font-size: 36px;
}
h1, h2, h3, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}
html {
    scroll-behavior: smooth;
}
p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url('background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    ;
}
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.name-purple {
    color: #6030b1;
}

section:nth-child(even) {
    background-color: rgba(140, 188, 255, 0.5)
}

.navbar {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_links {
    display: flex;

}


#personal__logo {
    font-size: 32px;
    color: #6030b1;
    font-weight: 700;
    font: bold;
    transition: 300ms ease-in-out;
}
#personal__logo span {
    color: white;
}
#personal__logo:hover {
    transform: scale(1.1);

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin: 0 12px;
}
.link__hover-effect--purple {
    padding: 8px 20px;
    border-radius: 40px;
    background-color: #6030b1;
}
.link__hover-effect--green:hover {
    color: green;
}
.link__hover-effect--blue:hover {
    color: blue;
}
.link__hover-effect--purple:hover {
    background-color: #5d3eff;
    transition: all 300ms ease;
    
}

.link__hover-effect--blue::before {
    content: '';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 300ms;
}

.link__hover-effect--blue:hover:before {
    width: 100%;
    color: white;
}

.link__hover-effect--green::before {
    content: '';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.link__hover-effect--green:hover:before {
    width: 100%;
    color: white;
}


#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home__info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.home_picture-mask {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     overflow: hidden;
     box-shadow: 0 8px 16px rgba(0,0,0);
     margin-bottom: 20px;
}

.home_picture {
    width: 100%;
    transform: scale(1.1);

}
.home_info-title {
    margin-bottom: 10px;
}
.home__para {
    font-size:18px;
    margin-bottom: 30px;
}

.home_links a{
    display: inline-flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    justify-content: center;
    margin: 0 auto;
    color: #6030b1;
    border: 0.2rem solid;
    border-radius: 50%;
}


.home_links a:hover {
    color: white;
    transition: 300ms ease-in-out;
    transform: scale(1.1);
}

.about-me_title {
    max-width: 175px;
    margin-bottom: 20px;
    border: 0.2rem white;

}
.about-me_title:hover {
    background-color: 60;
    transition: 300ms ease-in-out;
    
}
.about-me_container {
    padding: 50px 0;

}

.me {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    background-color: skyblue;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px #6030b1;
    transition: all 300ms ease-in-out;
    font-weight: 500;
}

.me:hover {
    transform: scale(1.1);
    background-color: royalblue;
}
.hobbies {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    background-color: skyblue;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px #6030b1;
    transition: all 300ms ease-in-out;
    font-weight: 500;
}
.hobbies:hover {
    transform: scale(1.1);
    background-color: royalblue;
}
.experience {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    background-color: skyblue;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px #6030b1;
    transition: all 300ms ease-in-out;
    font-weight: 500;
}

.experience:hover {
    transform: scale(1.1);
    background-color: royalblue;
}

.para {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    font-weight: 500;

}
.title1 {
    margin-bottom: 10px;
}


.language_img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}
.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language:hover .language_img {
    filter: brightness(0.8);
    opacity: 0.8;
    transform: scale(0.9);
}

.language_img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;

}

.language_name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
}
.language_list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language:hover .language_name {
    transform: scale(1);
}

.photo_image {
    width: 100%;
    transition: all 500ms ease;
}

.image-wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0,0,0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.image-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: skyblue;
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 2;
}

.image:hover .image-wrapper:before{
    opacity: 0.6;
}

.image:hover .photo_image {
    transform: scale(1.1);
    filter: blur(5px);
}

.photo-list {
    padding-top: 30px;
}
.image:hover .image_description {
    transform: translateY(-50%);
    opacity: 1;
}
.image_description {
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    left: 125px;
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: opacity 300ms ease;
    transition: transform 450ms ease;
}


.image_description-title {
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.image_description-para {
    margin: 16px 0;
    text-align: left;
    color: white;
    font-weight: 500;
}

.image {
    padding-bottom: 60px;
}


footer {
    background-color: skyblue;
}

.fa-dragon {
    font-size: 70px;
}

.footer_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}

.footer_social-link {
    color: white;
    font: bold;
}
.footer_social_list {
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 28px;
  
    
}


.footer_logo-popper {
    color: #6030b1;
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_anchor {
    margin-bottom: 20px;
    position: relative; 
}

.footer_anchor:hover .footer_logo-popper{
    transform: translateX(60px);
    opacity: 1;
}